<style type="text/css">

    .modal-backdrop{
        z-index: 2 !important;
    }

    .fa.fa-comment-o{
        color: #FFF;
        float: right;
    }
    .tooltip {
        position: fixed;
    }
    .admin-userChatArea{
        {% if use_backgroundImage is defined and use_backgroundImage %}
            background: url("{{ wk_background_image }}");
        {% else %} 
            background: "{{ wk_background_image }}";
        {% endif %}
    }
    .wk_admin_login_status, .wk_user_name .wk_user_status{
        background-color: {{ seller_details['seller_StatusColor'] }};
    }
    .admin-msg .wk_other_message, .admin-msg .wk_self_message, .cust_details .wk_chatUserName, .wk_admin_details, .admin-userHeader, .cust-name p, .wk_user_name_info .wk_user_name, .wk_user_name_info .wk_support_name, .wk_msgdetails .wk_userName, .wk_msgdetails .wk_userMsg, .wk_msgdetails .wk_userEmail{
        font-family: {{ font_style }}
    }

    .admin-msg .wk_other_message, .admin-msg .wk_self_message, .wk_msgdetails .wk_userName, .wk_msgdetails .wk_userMsg, .wk_msgdetails .wk_userEmail{
        font-style: {% if font_weight['italic'] is defined and font_weight['italic'] %}{{ "italic" }}{% endif %};
        font-weight:  {% if font_weight['bold'] is defined and font_weight['bold'] %}{{ "bold" }}{% endif %};
    }

    .admin-msg .wk_other_message, .admin-msg .wk_self_message, .wk_self_message .wk_self_message_point, .wk_other_message .wk_other_message_point {
        background-color: {% if chat_back_style is defined and chat_back_style == 'plain' %}{{ "transparent" }}{% endif %};
    }
    .wk_chat_history .em{
        font-size: 2em;
    }

</style>
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<div class="side-chat-open" onclick="chat_window.openwindow();"></div>
    <div class="admin-window">
        <div class="chat_area">
            <div class="info_area">
                <div class="wk_chat_header">
                    <div class="wk_admin_logo"></div>
                    <div class="wk_block_customer">
                        <a class="btn btn-danger" data-toggle="modal" href="#wk_block_list">Block List</a>
                    </div>
                </div>
                <div class="wk_admin_login">
                    <div class="wk_admin_content"><img class="img-thumbnail" src="{{ seller_profile_Logo }}" /> </div>
                    {% if seller_details is defined and seller_details %}
                    <div class="wk_admin_details">
                        <span class="wk_admin_name">{{ seller_details['seller_name'] }}</span>
                        <span class="wk_admin_email"></span>{{ seller_details['seller_email'] }}</span>
                    </div>

                     <div class="wk_admin_chatStatus" data-user-status="{{ seller_details['seller_StatusColor'] }}">
                        <span class="wk_admin_login_status"></span>
                        <i class="fa fa-comment-o fa-2x"></i>
                        <input type="hidden" name="wkuser_unique_id" value="{{ seller_details['seller_chatId'] }}" />
                        <input type="hidden" name="wkuser_id" value="{{ seller_details['seller_id'] }}" />
                        <ul class="wk_allStatus item-group">
                            <span class="wk_adminPoint"></span>

                            <li class="list-group-item wk_adminChat_options" id="1">Online <span class="online_status"></span></li>
                            <li class="list-group-item wk_adminChat_options" id="2">Busy <span class="busy_status"></span></li>
                            <li class="list-group-item wk_adminChat_options" id="3">Offline <span class="offline_status"></span></li>
                        </ul>
                    </div>
                    {% endif %}
                </div>

                <div class="search_area">
                    <span id="wk_searchIcon"></span>
                    <input type="text" name="user_search" id="ajax-search" class="form-control" placeholder="Search Here.." value="" />
                </div>
                <audio controls="controls" class="wk_sound_play hide" id="myAudio">                    
                        <source src="{% if wk_notify is defined and wk_notify %}{{  wk_notify }}{% endif %}" type="audio/ogg">
                </audio>
            </div>

            <div class="user_list">
                <script id="user_list_template" type="text/x-handlebars-template">
                    <ul class="list-group">
                        {% verbatim %}
                        {{#each this}}                            
                            <li class="list_cust_{{receiver_unique_id}}" id="{{count}}" {{#if_value is_read}}style=""{{else}}{{/if_value}}>
                            <input type="hidden" name="user_unique_id" class="admin_details" id="{{sender_name}}" value="{{sender_unique_id}}" data = "{{sender_id}}"  data-sender-email = "{{sender_email}}" />
                            <div class="list-group-item cust_details" id="{{receiver_unique_id}}" data="{{receiver_name}}" data-cust-status = "{{customer_chatColor}}" data-receiver-id = "{{receiver_id}}">
                            <div class="wk_chkClick">
                                <div class="wk_chatUserIcon"><img class="img-thumbnail" style="border-radius:50%;border:none;" src="{{logo}}" /></div>
                                <div class="wk_chatUserName" style="word-wrap:break-word;">
                                    <span class="userName">{{receiver_name}}
                                        <span class="wk_chatStatus" style="background-color: {{customer_chatColor}}"></span>
                                    </span>
                                    <span class="userEmail">{{receiver_email}}</span>
                                </div>
                            </div>
                                <div class="wk_userBlockDelete">
                                    <input type="hidden" value="{{receiver_id}}" name="wk_ocCustomerId" />
                                    <input type="hidden" value="{{receiver_email}}" name="wk_ocCustomerEmail" />
                                    <input type="hidden" value="{{receiver_name}}" name="wk_ocCustomerName" />
                                    {{#if_value customer_block_value}}
                                        <span class="wk_block" data-original-title="{{customer_block}}" data-toggle="tooltip" id="block_{{receiver_unique_id}}"  style="background-position: -27px;"></span>
                                    {{else}}
                                        <span class="wk_block" data-original-title="{{customer_block}}" data-toggle="tooltip" id="block_{{receiver_unique_id}}"  style="background-position: 0px;"></span>
                                    {{/if_value}}


                                    <span class="wk_delete" data-original-title="Delete Chat History" data-toggle="tooltip" onclick="chat_window.deleteHistory(this);"></span>
                                </div>
                            </div>
                            </li>
                        {{/each}}
                        {% endverbatim %}
                    </ul>
                </script>

            </div>
        </div>
    </div>
    <div class="side-user-window">
        <div class="wk_otherOpenWindows">
            <ul class="otherUsers list-group">
                 <span class="status_point"></span>
            </ul>
        </div>

        <script id="adminUserframe" type="text/x-handlebars-template" >
        {% verbatim %}
        <div class="wk_chat_outer" id="{{receiver_unique_id}}" data="{{count}}">
            <div class="admin-userHeader">
                <div class="header_logo"><img src="{{profile_logo}}" class="img-thumbnail" /></div>
                <div class="cust-name"><p>
                    {{receiver_name}}</p>
                    <span class="wk_chatStatus" style="background-color: {{receiver_status}}"></span>
                </div>
                {% endverbatim %}
                <div class="user-close">
                    <span class="wk_instanceHistory" style="visibility: visible;">

                        <div class="wk_chat_history_options list-group">
                            <span class="status_point"></span>
                            <div class="list-group-item seller_chathistory" id="1">{{ text_lasthours }}</div>
                            <div class="list-group-item seller_chathistory" id="2">{{ text_lastdays }}</div>
                            <div class="list-group-item seller_chathistory" id="3">{{ text_forever }}</div>
                        </div>
                    </span>
                    <span class="wk_instance_minimize"></span>
                    <span class="wk_instance_maximize"></span>
                    <span class="wk_instance_close" onclick="wk_closeChat(this);"></span>
                </div>

            </div>
            <div class="admin-userChatArea">
                <div class="user_option_area">
                    <div class="loggin_user_info">
                        <span class="user_login_logo"><img src="{{ seller_profile_Logo ? seller_profile_Logo : admin_user_logo }}" /></span>
                        <div class="wk_user_name_info">
                            {% if (seller_details is defined and seller_details) %}
                                <div class="wk_user_name">{{seller_details['seller_name']}}{% verbatim %}<span class="wk_user_status" style="background-color:{{seller_chatStatus}}"></span>{% endverbatim %}</div>
                                <div class="wk_support_name">{{seller_details['seller_email']}}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% verbatim %}
               <div class="admin-msg">
                   <div class="wk_chat_history" id="log_{{receiver_unique_id}}">
                    {{> Wk_chatContentLoad}}
                    </div>
                </div>
                {% endverbatim %}
                    <div class="file-name" style="display: none">
                        <div class="name"></div>
                        <a href="javascript:clearSellerAttachment('{{ receiver_unique_id }}')">X</a>
                    </div>    
                    <div class="wk_enter_chat">
                        {% verbatim %}
                        <input type="hidden" class="sender_id" id="{{sender_name}}" name="sender" value="{{sender_unique_id}}" data = "{{sender_id}}" />
                        <input type="hidden" class="receiver_id" name="receiver" value="{{receiver_unique_id}}" id="{{receiver_name}}" data = "{{receiver_id}}" />
                        {% endverbatim %}
                        <input type="hidden" name="sound_notification" value="{% if (sound_status is defined and sound_status) %} {{ sound_status }} {% endif %}" />
                        {% verbatim %}
                        <input type="hidden" id="notification_logo" name="notify_logo" value="{{notify_logo}}"  />
                        {% endverbatim %}
                        <input type="hidden" name="display_name_email" id="{% if (name_email['email'] is defined and name_email['email']) %}{% verbatim %} {{option_email}} {% endverbatim %}{% endif %}" value="{% if (name_email['name'] is defined and name_email['name']) %} {% verbatim %} {{sender_name}} {% endverbatim %} {% endif %}" />
                        <span class="file-upload">
                            <button id="upload-file"><i class="fa fa-paperclip"></i></button>
                            <input type="file" name="upload_file" style="display: none" onchange="displaySellerImage(this);">
                        </span>   
                        {% verbatim %}
                        <textarea class="form-control emit_message" name="admin_chat" data-emojiable="true" id="message_{{receiver_unique_id}}" placeholder="Type your message..."></textarea>
                        {% endverbatim %}
                        <span class="wk_sendChat hide" id="wk_send"></span>
                    </div>
                </div>
            </div>
        </div>
        </script>
        {% verbatim %}
        <script id="wk_adminChatHistory" type="text/x-handlebars-template">
                {{#each chatHistory}}
                    {{#if_eq sender_unique_id current_customer_id}}
                    <div class="wk_other_msg_area">
                        <span class="wk_other_image"></span>
                        <div class="wk_other_message">
                            <span class="wk_other_message_point"></span>
                            <div class="msg">
                                {{{message}}}
                                {{#if attachment}}
                                    <p><a href="javascript:downloadAttachment('{{id}}','{{sender_unique_id}}','{{receiver_unique_id}}')">{{{attachment}}}</a></p>
                                {{/if}}
                            </div>
                            <div class="wk_timeShow">{{date}}</div>
                        </div>
                    </div>
                    {{else}}
                        <div class="wk_self_msg_area">
                            <span class="wk_self_image"></span>
                            <div class="wk_self_message">
                                <span class="wk_self_message_point"></span>
                                <div class="msg">
                                    {{{message}}}
                                    {{#if attachment}}
                                        <p><a href="javascript:downloadAttachment('{{id}}','{{sender_unique_id}}','{{receiver_unique_id}}')">{{{attachment}}}</a></p>
                                    {{/if}}
                                </div>
                                <div class="wk_timeShow">{{date}}</div>
                            </div>
                        </div>
                    {{/if_eq}}
                {{/each}}
            </script>
             <script id="wk_adminNoHistory" type="text/x-handlebars-template">
                {{#each chatHistory}}
                    <div class="alert alert-danger text-center">{{{message}}}</div>
                {{/each}}
            </script>
            {% endverbatim %}
        <div class="modal" id="wk_chat_block">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close block_close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle-o fa-lg"></i></button>
                <h3 class="modal-title" style="color:#FFF;">{{ text_block }}</h3>
              </div>
              <div class="modal-body">
                <form id="form-block">
                  <div class="form-group">
                    <label for="recipient-name" class="control-label">{{ text_recipient }} </label>
                    <input type="text" name="customer_name" class="form-control" value="" id="recipient-name" disabled="disabled">
                  </div>
                  <div class="form-group">
                    <label for="recipient-email" class="control-label">{{ text_email }}</label>
                    <input type="text" name="customer_email_id" class="form-control" value="" id="recipient-email" disabled="disabled">
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="control-label">{{ text_message }}</label>
                    <textarea name="customer_message" class="form-control" id="message-text" placeholder="Type your message here.."></textarea>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <input type="hidden" name="wk_customerId" value="" id="" />
                <input type="hidden" name="wk_sellerId" value="" />
                <input type="hidden" name="wk_customerEmailId" value="" />
                <button type="button" id="send_mail" class="btn btn-danger"><i class="fa fa-envelope-o"></i></button>
                <button type="button" class="btn btn-default" onclick="$('.block_close').trigger('click');" data-dismiss="modal"><i class="fa fa-times-circle"></i></button>
              </div>
            </div><!-- /.modal-content -->
            <div class="wk_loading"><i class="fa fa-cog fa-spin fa-4x" id="wk_setting_loading"></i></div>
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

         <div class="modal modal-primary bs-example-modal-sm" id="wk_seller_modelEmoji" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" style="width:290px;">
                        <div class="modal-content">
                             <div class="modal-header information">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title">Emoji</h4>
                              </div>
                        <form id="uploadimage" action="" method="post" enctype="multipart/form-data">
                            <div class="modal-body">
                                <input type="hidden" name="windowId" value="" />
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#tab-smiley"><i class="em em-blush"></i></a></li>
                                    <li><a data-toggle="tab" href="#tab-eat"><i class="em em-coffee"></i></a></li>
                                    <li><a data-toggle="tab" href="#tab-hand"><i class="em em---1"></i></a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab-smiley">
                                        <div>
                                        {% for smiley_value in emoji_tab_smile %}
                                            <span class="wk_sym"><i class="em em-{{ smiley_value }}"></i></span>
                                        {% endfor %}
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab-eat">
                                         <div>
                                        {% for eat_value in emoji_tab_eat %}
                                            <span class="wk_sym"><i class="em em-{{ eat_value }}"></i></span>
                                        {% endfor %}
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab-hand">
                                         <div>
                                        {% for hand_value in emoji_tab_hand %}
                                            <span class="wk_sym"><i class="em em-{{ hand_value }}"></i></span>
                                        {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
                <div class="modal modal-primary" id="wk_block_list" tabindex="-1" role="dialog">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Customer Block List</h4>
                      </div>
                      <div class="modal-body">
                        <table class="table table-hover">
                            <tr><th>Profile</th><th>Name</th><th>Action</th></tr>
                            {% if (seller_blockCustomer is defined) %}
                                {% for key,customer in seller_blockCustomer %}
                                    <tr>
                                        <td><img class="img-thumbnail" src="{{ customer['profile'] }}" /></td>
                                        <td>{{ customer['name'] }}</td>
                                        <td><button class="btn btn-danger" data-original-title="Un-block Customer" data-toggle="tooltip" onclick="Un_BlockCustomer('{{ customer['customer_unique_id'] }}', '{{ customer['customer_id'] }}', '{{ customer['receiver_unique_id'] }}');" ><i class="fa fa-lock" aria-hidden="true"></i></button></td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </table>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

<script type="text/javascript" src="catalog/view/javascript/store_chat/handlebars.js"></script>
<link rel="stylesheet" href="catalog/view/javascript/store_chat/css/emoji.css">
<script src="catalog/view/javascript/store_chat/js/config.js"></script>
<script src="catalog/view/javascript/store_chat/js/util.js"></script>
<script src="catalog/view/javascript/store_chat/js/jquery.emojiarea.js"></script>
<script src="catalog/view/javascript/store_chat/js/emoji-picker.js"></script>
<script>

        $(function() {

            window.emojiPicker = new EmojiPicker({
                emojiable_selector: '[data-emojiable=true]',
                assetsPath: 'catalog/view/javascript/store_chat/img/',
                popupButtonClasses: 'fa fa-smile-o'
            });
            window.emojiPicker.discover();
        
            waitForElPoplayOrder($('.type_message'), function () {   
                    // Initializes and creates emoji set from sprite sheet
                    window.emojiPicker = new EmojiPicker({
                    emojiable_selector: '[data-emojiable=true]',
                    assetsPath: 'catalog/view/javascript/store_chat/img/',
                    popupButtonClasses: 'fa fa-smile-o'
              });
              window.emojiPicker.discover();                   
            });
          });
          
          var waitForElPoplayOrder = function (selector, callback) {
            if ($('.type_message').length) {
                callback();
            } else {
                setTimeout(function () {
                    waitForElPoplayOrder(selector, callback);
                }, 100);
            }
        };   

        $(document).ready(function(){
            allDetails = {custDetails: '{{ json_customer_details }}', wk_largeLogo: '{{ largeLogo }}',wk_webSocket: '{{ connection_Address }}'};

            {% if (getTotalCustomer is defined and getTotalCustomer) %}
                prepareCustomerList(allDetails);
            {% endif %}
        });

        $("body").on("click", ".wk_chkClick", function(){
            $(this).parent().css('background-color','#fff');
            $(this).parent().css('color','#666');
            var receiver_id         = $(this).parent().attr("data-receiver-id");
            var receiver_unique_id  = $(this).parent().attr("id");
            var receiver_name       = $(this).parent().attr("data");
            var receiver_status     = $(this).parent().attr("data-cust-status");
            var sender_id           = $(this).parent().parent().find(".admin_details").attr("data");
            var sender_unique_id    = $(this).parent().parent().find(".admin_details").attr("value");
            var sender_name         = $(this).parent().parent().find(".admin_details").attr("id");
            var option_email        = $(this).parents('.list_cust_'+receiver_unique_id).find('.admin_details').attr('data-sender-email');
            var sender_status       = $('.admin-window').find('.wk_admin_chatStatus').attr('data-user-status');
            var li_id               = $(this).parent().parent().attr("id");
            var profile_logo        = $(this).find('.img-thumbnail').attr('src');
            var receiver_UniqueId   = '';

            var chk_alreadyOpen = $(this).parents('.admin-window').next('.side-user-window').find('.wk_chat_outer');
            $(chk_alreadyOpen).each(function(k, val){
                if(val.id === receiver_unique_id){
                    receiver_UniqueId = receiver_unique_id;
                }
            })

            if(!receiver_UniqueId){
                var historyTime = '0';
                var chatHistory = '';
                var x = new Date();
                var currentTimeZoneOffsetInMins = x.getTimezoneOffset();
                $.ajax({
                    url :       'index.php?route=seller_buyer/seller_panel/getChatHistory',
                    data:       'receiver_unique_id=' + receiver_unique_id + '&sender_unique_id=' + sender_unique_id + '&historyTime=' + historyTime+'&timeOffset=' +currentTimeZoneOffsetInMins,
                    datatype:   'json',
                    type:       'POST',
                    beforeSend: function(){
                        chatHistory = '';
                        $("#log_"+receiver_unique_id).children().remove();
                    },
                    success : function(json){
                        var data = JSON.parse(json);
                        if(data.success){
                            $(data.success).each(function(key, val){
                                val['current_customer_id'] = receiver_unique_id;
                            })
                            chatHistory = data.success;
                            var emojiPicker = new EmojiPicker({
                                emojiable_selector: '[data-emojiable=true]',
                                assetsPath: 'catalog/view/javascript/store_chat/img/',
                                popupButtonClasses: 'fa fa-smile-o'
                            });
    
                            if(chatHistory.length) {
                                $.each(chatHistory,function(i,v) {
                                    if(typeof chatHistory[i]['message'] != "undefined")
                                    chatHistory[i]['message']= emojiPicker.colonToImage(v.message);
                                });
                            }

                        }else{
                            chatHistory = 'No Chat History';
                            $("#log_"+receiver_unique_id).children().remove();
                            $('#message_'+receiver_unique_id).focus();
                        }

                        (function(chatHistory){
                            setTimeout(function(){
                                var all_details = {notify_logo: '{{ wk_largeLogo }}',sender_id: sender_id, sender_unique_id: sender_unique_id,sender_name: sender_name, option_email:option_email, sender_status : sender_status, receiver_id: receiver_id, receiver_unique_id: receiver_unique_id,receiver_name: receiver_name,  receiver_status: receiver_status, count:li_id,chatHistory: chatHistory, profile_logo: profile_logo,};

                                var chatUser_temp = $("#adminUserframe").html();
                                var template = Handlebars.compile(chatUser_temp);
                                

                                    if(data.success[0].sender_unique_id){
                                        // sub template compile for load history
                                        Handlebars.registerPartial("Wk_chatContentLoad", $("#wk_adminChatHistory").html());
                                    }else{
                                         Handlebars.registerPartial("Wk_chatContentLoad", $("#wk_adminNoHistory").html());
                                    }

                                    var html = template(all_details);
                                    var emojiPicker = new EmojiPicker();
                                    emojiPicker.appendUnicodeAsImageToElement(html);

                                        if($(".side-user-window").find("#"+receiver_unique_id).length > 0){
                                            $(".side-user-window").find("#message_"+receiver_unique_id).focus();
                                        }else{
                                            $(".side-user-window").append(html);
                                        }

                                         // Initializes and creates emoji set from sprite sheet
                                        window.emojiPicker = new EmojiPicker({
                                            emojiable_selector: '[data-emojiable=true]',
                                            assetsPath: 'catalog/view/javascript/store_chat/img/',
                                            popupButtonClasses: 'fa fa-smile-o'
                                        });
                                        window.emojiPicker.discover(); 


                                 $(".admin-msg #log_"+receiver_unique_id).animate({scrollTop:1000}, 'slow');
                            var i = 0;
                            var count = 0;
                            var right = 5;

                                $(".wk_chat_outer").each(function(){
                                    i++;
                                    if(i%4==1){
                                        var goRight=right+'px';
                                        $(this).animate({
                                            right: goRight,
                                        });
                                        right += 310;
                                    }else if(i%4==2){
                                        var goRight=right+'px';
                                        $(this).animate({
                                            right: goRight,
                                        });
                                        right += 310;
                                    }else if(i%4==3){

                                        var goRight=right+'px';
                                        $(this).animate({
                                            right: goRight,
                                        });
                                        right=5;
                                    }else if(i%4==0){
                                        var countWindow = $('.side-user-window > .wk_chat_outer').first();
                                        var getId = $(countWindow).attr('id');
                                        var getName = $(countWindow).find('.cust-name').text();

                                        if(i == 4){
                                            html = '<li class="list-group-item wk_otherUslerLi " id='+getId+' ><div class="wk_otherUserName">'+getName+'</div><span class="wk_otherClose" onclick="wk_otherCloseChat(this);"></sapn></li>';
                                            (function(){
                                                setTimeout(function(){
                                                    $('body').find('.wk_otherOpenWindows > .otherUsers').append(html);
                                                },500);
                                            })(html);

                                            $('.side-user-window').find('.wk_otherOpenWindows').css('display','block');
                                            $('.side-user-window').find('#'+getId).remove();
                                        }
                                        i--;
                                        count++;
                                    }
                               })
                        }, 500)
                })(chatHistory);

                    }
                })

                /**
                 * [handler to if equal condition]
                 * @param  {[string]} a     [value of first variable]
                 * @param  {[string]} b     [value of second variable]
                 * @param  {[contrins the output]} opts) {    if(a [condition will true]
                 * @return {[html]}       [html content]
                 */
                Handlebars.registerHelper('if_eq', function(a, b, opts) {
                    if(a == b){
                        return opts.fn(this);
                    }else{
                        return opts.inverse(this);
                    }
                });
            }else{
                $('.side-user-window').find('.wk_chat_outer').each(function(key_index, val_index){
                    if(val_index.id == receiver_UniqueId){
                        var getButtom = $(this).css('bottom');
                        if(getButtom === '-355px'){
                            $(this).find('.admin-userHeader').trigger('click');
                        }
                        $(this).find(".emit_message").focus();
                        $(this).find(".emit_message").css({'border-color':'#66afe9','box-shadow':'0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6)'});
                    }else{
                        $(this).find(".emit_message").css({'border-color':'#9e9e9e','box-shadow':'none'});
                    }
                })
            }
       })

    function showemoji_model(thisthis){
        get_WindowID = $(thisthis).parent().find('input[name=\'receiver\']').val();
        $('.side-user-window #wk_seller_modelEmoji').modal('show');
        $('.side-user-window #wk_seller_modelEmoji').find('input[name=\'windowId\']').val(get_WindowID);
    }

     $("#wk_seller_modelEmoji .wk_sym").on('click', function(){
         var getSmile = $(this).html();
         if(getSmile){
              var getWindowReceiverID = $(this).parents('.modal-body').find('input[name=\'windowId\']').val();
              if(getWindowReceiverID){
                $('.side-user-window #message_'+getWindowReceiverID).val($('.side-user-window #message_'+getWindowReceiverID).val() + getSmile);
                $('.side-user-window #wk_seller_modelEmoji').modal('hide');
              }
         }
     })

     function Un_BlockCustomer(customer_unique_id, customer_id, receiver_unique_id){
        if(customer_unique_id){
            send_data = {receiverUId: receiver_unique_id, blockCustId: customer_id, customerUId: customer_unique_id};
            $.ajax({
                url :'index.php?route=seller_buyer/seller_panel/Un_BlockCustomer',
                data : send_data,
                type: 'POST',
                dataType: 'json',
                beforeSend: function(){
                    $('.wk_loading').css('display','block');
                },
                success: function(json){
                    if(json['success']){
                         html = '<div class="alert alert-success"><i class="fa fa-check-circle"></i>'+ json['success']+'<button type="button" class="close" data-dismiss="alert">&times;</button></div>';
                        $('.modal-body').prepend(html);
                        setTimeout(function(){
                            $('.wk_loading').fadeOut('slow',function(){
                                $('.wk_loading').css('display','none');
                            });
                        },1000);
                        setTimeout(function(){
                            $('.modal-body .alert').fadeOut('slow',function(){
                                $('.modal-body .alert').remove();
                            });
                            $('.block_close').trigger('click');
                            location = window.location;
                        },4000);

                    }
                }
            })
        }
    }
</script>
